<ul
  *ngFor="let item of playerRoles; let last = last; let first = first"
  class="bg-gray-900 rounded-lg"
>
  <li
    class="bg-gray-900 p-3 pl-3 flex flex-row"
    [ngClass]="{
         'rounded-b-lg': last,
         'rounded-t-lg': first,
      }"
  >
    <span class="w-full text-base">
      {{ item.name }}
    </span>

    <mat-icon
      *ngIf="editable"
      (click)="delete(item.id)"
      class="text-gray-500 active:text-gray-300 cursor-pointer"
      >remove_circle</mat-icon
    >
  </li>
  <div class="h-[0.5px] bg-gray-800" [ngClass]="{ hidden: last }"></div>
</ul>
