<div
  (click)="setExpand()"
  class="cursor-pointer flex flex-row justify-between text-xl pt-5 pb-3 px-1 font-medium"
>
  <span class="w-full">{{ gameEnv.name }} </span>

  <mat-icon
    [ngClass]="{
      'rotate-90': expand,
      'rotate-0': !expand
    }"
    class="text-blue-600 transition-transform duration-300"
  >
    chevron_right
  </mat-icon>
</div>

<div>
  <div
    *ngIf="expand && !loading && playerRoles.length === 0"
    class="bg-gray-900 rounded-lg text-base w-full p-3"
  >
    <span class="">Nenhum papel</span>
  </div>
</div>

<!-- <div *ngIf="expand && loading" class="w-full py-8 flex justify-center">
  <img
    src="/assets/loading.svg"
    alt="loading icon"
    class="size-6 animate-spin"
  />
</div> -->

<div
  class="overflow-hidden transition-all duration-600 ease-in-out"
  [ngClass]="{
    'max-h-0': !expand,
    'max-h-screen': expand,
  }"
>
  <app-player-role-list [playerRoles]="playerRoles"></app-player-role-list>
</div>
