<div
  (click)="setExpand()"
  class="cursor-pointer my-1 rounded-lg flex flex-row justify-between text-lg pt-4 pb-4 font-medium px-2"
  [ngClass]="{
    'bg-gray-900': expand,
  }"
>
  <span class="w-full">{{ gameEnv.name }} </span>

  <mat-icon
    [ngClass]="{
      'rotate-90': expand,
      'rotate-0': !expand
    }"
    class="text-blue-600 transition-transform duration-300"
  >
    chevron_right
  </mat-icon>
</div>

<div>
  <div
    *ngIf="expand && !loading && playerRoles.length === 0"
    class="bg-gray-900 rounded-lg text-base w-full p-3"
  >
    <span class="">Nenhum papel</span>
  </div>
</div>

<div *ngIf="expand && loading" class="w-full py-8 flex justify-center">
  <img
    src="/assets/loading.svg"
    alt="loading icon"
    class="size-6 animate-spin"
  />
</div>

<div
  class="overflow-hidden transition-all duration-500 ease-in-out"
  [ngClass]="{
    'max-h-0': !expand,
    'max-h-screen': expand,
  }"
>
  <p
    *ngIf="playerRoles.length !== 0"
    class="uppercase text-gray-500 font-medium text-sm p-1"
  >
    Papeis
  </p>
  <app-player-role-list [playerRoles]="playerRoles"></app-player-role-list>
</div>
