<app-back-button></app-back-button>

<div class="m-4 flex flex-col gap-4">
  <p class="uppercase text-gray-500 font-medium text-sm p-1">
    Adicionar Jogador
  </p>
  <div
    class="w-full items-center bg-gray-900 rounded-lg flex flex-row justify-between gap-3 p-3"
  >
    <input
      [(ngModel)]="newPlayer"
      placeholder="Novo jogador"
      type="text"
      class="text-base text-left w-full appearance-none bg-transparent border-none text-white focus:outline-none"
    />
    <button
      (click)="addPlayer()"
      class="text-green-600 font-medium active:text-green-400 cursor-pointer"
    >
      Adicionar
    </button>
  </div>

  <div>
    <p
      *ngIf="getList().length > 0"
      class="uppercase text-gray-500 font-medium text-sm p-1"
    >
      Jogadores
    </p>
    <ul
      *ngFor="
        let item of getList();
        let last = last;
        let first = first;
        let i = index
      "
      class="bg-gray-900 rounded-lg"
    >
      <li
        class="bg-gray-900 p-3 pl-3 flex flex-row text-gray-300"
        [ngClass]="{
        'rounded-b-lg': last,
        'rounded-t-lg': first,
    }"
      >
        <span class="w-full text-base">
          {{ item }}
        </span>

        <mat-icon
          (click)="removePlayer(i)"
          class="text-gray-500 active:text-gray-300 cursor-pointer"
          >remove_circle</mat-icon
        >
      </li>
      <div class="h-[0.5px] bg-gray-800" [ngClass]="{ hidden: last }"></div>
    </ul>
  </div>

  <app-local-game-switches></app-local-game-switches>

  <div
    (click)="setImpostors()"
    class="bg-gray-900 p-3 rounded-lg flex flex-row justify-between cursor-pointer"
  >
    <span>Impostores</span>
    <div class="flex flex-row gap-1">
      <img src="/assets/whoiswho-logo.svg" alt="WhoIsWho Logo" class="size-6" />
      <img
        *ngIf="impostors >= 2"
        src="/assets/whoiswho-logo.svg"
        alt="WhoIsWho Logo"
        class="size-6"
      />
      <img
        *ngIf="impostors == 3"
        src="/assets/whoiswho-logo.svg"
        alt="WhoIsWho Logo"
        class="size-6"
      />
    </div>
  </div>

  <app-nav-game-env-button></app-nav-game-env-button>

  <button
    (click)="startGame()"
    class="p-3 bg-gray-900 rounded-lg text-blue-500 text-center cursor-pointer"
  >
    Iniciar partida
  </button>
</div>

<div class="h-32"></div>
