<div class="flex flex-row justify-between items-end pt-4 px-4">
  <div
    (click)="navigateHome()"
    class="flex flex-row items-center cursor-pointer"
  >
    <img src="/assets/whoiswho-logo.svg" alt="WhoIsWho Logo" class="size-6" />
    <span class="text-red-600 font-mono text-xl font-bold ml-2">WhoIsWho</span>
  </div>

  <button
    *ngIf="showTrailing"
    (click)="navigateProfile()"
    class="flex flex-row items-center text-blue-600"
  >
    <span
      class="font-mono text-blue-600 active:text-blue-400 font-semibold text-base cursor-pointer"
    >
      {{ username }}
    </span>
    <mat-icon class="">chevron_right</mat-icon>
  </button>
</div>
