<app-app-bar [showTrailing]="false"></app-app-bar>

<div class="w-full flex flex-col items-center p-2">
  <div class="rounded-xl flex flex-col w-full max-w-xs mt-12 gap-4">
    <p class="font-medium text-white text-xl w-full text-center mb-2">
      Entrar em uma conta
    </p>
    <form
      (submit)="submit()"
      [formGroup]="loginForm"
      class="flex flex-col w-full gap-2 text-white"
    >
      <input
        formControlName="username"
        class="appearance-none border-2 rounded-md w-full py-2 px-3 border-gray-500 bg-gray-900 focus:outline-none focus:border-gray-300 focus:bg-gray-800 hover:bg-gray-800 font-mono"
        type="text"
        placeholder="Username"
      />

      <input
        formControlName="password"
        class="appearance-none border-2 rounded-md w-full py-2 px-3 border-gray-500 bg-gray-900 focus:outline-none focus:border-gray-300 focus:bg-gray-800 hover:bg-gray-800 font-mono"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Senha"
      />

      <span
        (click)="setShowPassword()"
        class="font-semibold text-right text-xs text-blue-500 hover:text-blue-400 cursor-pointer"
        >{{ showPassword ? "Ocultar senha" : "Mostrar senha" }}</span
      >

      <button
        type="submit"
        [ngClass]="{ 'bg-blue-950': isLoading }"
        class="mt-4 bg-blue-700 font-mono rounded-md py-2 text-base font-medium active:bg-blue-500 flex justify-center"
      >
        Entrar
      </button>
    </form>

    <div class="flex flex-row items-center gap-4 w-full max-w-xs my-2">
      <hr class="h-[0.5px] w-full bg-gray-500 mt-1 border-none" />
      <p class="text-gray-500 text-sm font-medium">ou</p>
      <hr class="h-[0.5px] w-full bg-gray-500 mt-1 border-none" />
    </div>

    <button
      (click)="navigate()"
      class="font-mono rounded-md py-2 text-base font-medium border-2 border-green-600 flex justify-center text-green-600"
    >
      Criar uma conta
    </button>

    <div class="flex flex-row justify-center mt-4">
      <button
        (click)="loginGuest()"
        class="font-mono text-base font-medium flex text-blue-300 active:text-blue-500"
      >
        Entrar como convidado
      </button>
    </div>
  </div>
</div>
