<app-app-bar></app-app-bar>

<div class="p-4 px-8 mt-16 flex flex-col items-center gap-4">
  <form
    class="max-w-sm w-full flex flex-col gap-2"
    [formGroup]="roomForm"
    (submit)="navigateRoom()"
  >
    <input
      type="number"
      formControlName="roomId"
      placeholder="Código da sala"
      class="text-base text-center appearance-none border-2 rounded-md w-full py-3 px-3 border-gray-500 bg-gray-900 focus:outline-none focus:border-gray-300 focus:bg-gray-800 hover:bg-gray-800 font-mono"
    />
    <button
      [ngClass]="{
        'bg-gray-900': loadingEnter
      }"
      type="submit"
      class="font-mono w-full max-w-sm rounded-md py-2 text-base font-medium hover:bg-gray-900 flex justify-center border-2 border-blue-600 text-blue-600"
    >
      Entrar
    </button>

    <button
      [ngClass]="{
        'bg-gray-900': loadingLast
      }"
      type="button"
      (click)="navigateLastRoom()"
      class="max-w-sm w-full text-green-500 text-base font-medium items-center flex justify-center gap-2 p-3 rounded-lg hover:bg-gray-800"
      *ngIf="lastRoom"
    >
      <span> Sala {{ lastRoom }} </span>
      <mat-icon>login</mat-icon>
    </button>
  </form>

  <div class="flex flex-row items-center gap-4 w-full max-w-xs my-2">
    <hr class="h-[0.5px] w-full bg-gray-500 mt-1 border-none" />
    <p class="text-gray-500 text-sm font-medium">ou</p>
    <hr class="h-[0.5px] w-full bg-gray-500 mt-1 border-none" />
  </div>

  <button
    [ngClass]="{
      'bg-gray-900': loadingNew,
      'animate-pulse': loadingNew
    }"
    (click)="createRoom()"
    class="mt-4 font-mono w-full max-w-sm rounded-md py-2 text-base font-medium hover:bg-gray-900 flex justify-center border-2 border-green-500 text-green-500"
  >
    Criar uma sala
  </button>
</div>
