<app-back-button text="Sair da sala"></app-back-button>
<p
  class="text-center m-4 text-lg font-mono font-medium text-red-600"
  *ngIf="roomData"
>
  Sala {{ roomData.id }}
</p>

<div
  *ngIf="roomData != null && roomData.status == 'IDLE'"
  class="m-4 flex-col flex gap-4"
>
  <div>
    <p
      *ngIf="users.length > 0"
      class="uppercase text-gray-500 font-medium text-sm p-1"
    >
      Jogadores
    </p>
    <ul
      *ngFor="let user of users; let last = last; let first = first"
      class="bg-gray-900 rounded-lg"
    >
      <li
        class="bg-gray-900 p-3 pl-3 flex flex-row text-gray-300"
        [ngClass]="{
      'rounded-b-lg': last,
      'rounded-t-lg': first,
  }"
      >
        <span class="w-full text-base">
          {{ user.username }}
          {{ isMe(user.username) ? " (Você)" : "" }}
        </span>

        <span *ngIf="user.id === roomData?.owner?.id">(ADM)</span>
      </li>
      <div class="h-[1px] bg-gray-800" [ngClass]="{ hidden: last }"></div>
    </ul>
  </div>

  <!-- Switches -->
  <div *ngIf="isADM()">
    <div class="bg-gray-900 rounded-t-lg p-3 flex flex-row justify-between">
      <span>Ambientes padrão</span>

      <div class="inline-flex items-center cursor-pointer">
        <div
          (click)="updateIncludeDefault()"
          class="relative w-11 h-6 bg-gray-500 rounded-full"
          [ngClass]="{
            'bg-blue-600': roomData.includeDefaultGameEnvs,
            'bg-gray-500': !roomData.includeDefaultGameEnvs
          }"
        >
          <div
            class="absolute top-[2px] start-[2px] bg-white border-gray-300 border rounded-full h-5 w-5 transition-all"
            [ngClass]="{
              'translate-x-full': roomData.includeDefaultGameEnvs,
              'translate-x-0': !roomData.includeDefaultGameEnvs
            }"
          ></div>
        </div>
      </div>
    </div>

    <div class="h-[1px] bg-gray-800"></div>

    <div class="bg-gray-900 rounded-b-lg p-3 flex flex-row justify-between">
      <span>Meus ambientes</span>

      <div
        (click)="updateIncludeUser()"
        class="inline-flex items-center cursor-pointer"
      >
        <div
          class="relative w-11 h-6 bg-gray-500 rounded-full"
          [ngClass]="{
            'bg-blue-600': roomData.includeUserGameEnvs,
            'bg-gray-500': !roomData.includeUserGameEnvs
          }"
        >
          <div
            class="absolute top-[2px] start-[2px] bg-white border-gray-300 border rounded-full h-5 w-5 transition-all"
            [ngClass]="{
              'translate-x-full': roomData.includeUserGameEnvs,
              'translate-x-0': !roomData.includeUserGameEnvs
            }"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Impostors -->
  <button
    (click)="isADM() ? updateImpostors() : null"
    class="bg-gray-900 p-3 rounded-lg flex flex-row justify-between"
    [ngClass]="{
      'cursor-pointer': isADM(),
      'cursor-default': !isADM(),
    }"
  >
    <span>Impostores</span>
    <div class="flex flex-row gap-1">
      <ng-container
        *ngFor="let impostor of [].constructor(roomData?.impostors || 0)"
      >
        <img
          src="/assets/whoiswho-logo.svg"
          alt="WhoIsWho Logo"
          class="size-6"
        />
      </ng-container>
    </div>
  </button>

  <button (click)="startGame()">Iniciar Jogo</button>
</div>

<div
  class="m-4"
  *ngIf="roomData != null && roomData.status == 'PLAYING' && game != null"
>
  <p class="text-lg font-medium font-mono text-gray-400 text-center">
    A partida foi iniciada
  </p>

  <div class="mt-16 flex flex-col gap-4" *ngIf="userGamePlayer?.impostor">
    <img
      src="/assets/whoiswho-logo.svg"
      alt="WhoIsWho Logo"
      class="size-16 text-center w-full"
    />
    <p class="text-center text-xl font-semibold font-mono text-red-600">
      Você é um impostor
    </p>
  </div>

  <div
    class="mt-8 flex flex-col gap-2"
    *ngIf="!userGamePlayer?.impostor && userGamePlayer?.playerRole != null"
  >
    <div
      class="text-base flex flex-row bg-gray-900 p-3 rounded-lg justify-between"
    >
      <span class="text-gray-500 font-medium">Local:</span>
      <p class="text-blue-600">{{ game.gameEnvironment.name }}</p>
    </div>

    <div
      class="text-base flex flex-row bg-gray-900 p-3 rounded-lg justify-between"
    >
      <span class="text-gray-500 font-medium">Papel:</span>
      <p class="text-blue-600">{{ userGamePlayer?.playerRole?.name }}</p>
    </div>
  </div>
</div>
