<app-back-button text="Sair da sala"></app-back-button>

<div class="m-4 flex flex-row justify-between items-center">
  <p
    class="text-start text-base font-mono font-medium text-green-600"
    *ngIf="roomData"
  >
    Sala {{ roomData.id }}
  </p>

  <!-- Start Button -->
  <button
    class="flex flex-row items-center font-medium text-base font-mono text-green-600 active:text-green-400"
    *ngIf="isADM() && roomData?.status == 'IDLE' && !countDown"
    (click)="roomService.startGame()"
  >
    <p>Iniciar</p>
    <mat-icon>play_arrow</mat-icon>
  </button>

  <!-- Finish Button -->
  <button
    class="flex flex-row items-center font-medium text-base font-mono text-red-600 active:text-red-400"
    *ngIf="isADM() && roomData?.status == 'PLAYING'"
    (click)="roomService.finishGame()"
  >
    <p>Finalizar</p>
  </button>
</div>

<div
  class="text-lg font-medium font-mono text-gray-400 text-center my-16"
  *ngIf="countDown"
>
  A partida comeca em {{ countDown }}
</div>

<!-- IDLE -->
<div
  *ngIf="roomData != null && roomData.status == 'IDLE' && !countDown"
  class="m-4 flex-col flex gap-4"
>
  <!-- Users List -->
  <app-users-list [users]="users" [owner]="roomData.owner"></app-users-list>

  <!-- Switches -->
  <app-room-switches
    *ngIf="isADM()"
    [includeDefaultGameEnvs]="roomData.includeDefaultGameEnvs"
    [includeUserGameEnvs]="roomData.includeUserGameEnvs"
    (onClickDefault)="roomService.updateIncludeDefault()"
    (onClickUser)="roomService.updateIncludeUser()"
  ></app-room-switches>

  <!-- Impostors -->
  <app-impostors-button
    *ngIf="isADM()"
    [impostors]="roomData.impostors"
    (onClick)="roomService.updateImpostors()"
  ></app-impostors-button>

  <!-- Game Result -->
  <div class="flex flex-col gap-2" *ngIf="gamesList.length > 0">
    <div>
      <p
        *ngIf="users.length > 0"
        class="uppercase text-gray-500 font-medium text-sm p-1"
      >
        Resultado
      </p>
      <div
        class="bg-gray-900 p-3 rounded-lg text-center font-mono text-lg text-gray-400 font-medium"
      >
        <p>{{ gamesList[0].gameEnvironment.name }}</p>
      </div>
    </div>

    <div
      class="flex flex-row justify-between p-3 rounded-lg bg-gray-900"
      *ngFor="let role of gamesList[0].gamePlayers"
    >
      <p class="text-base text-gray-400 font-medium">
        {{ role.user.username }}
      </p>
      <p
        class="text-base font-mono text-blue-500 font-medium"
        *ngIf="!role.impostor"
      >
        {{ role.playerRole?.name }}
      </p>
      <img
        *ngIf="role.impostor"
        src="/assets/whoiswho-logo.svg"
        alt="WhoIsWho Logo"
        class="size-6"
      />
    </div>
  </div>
</div>

<!-- PLAYING -->
<div
  class="m-4"
  *ngIf="
    roomData != null &&
    roomData.status == 'PLAYING' &&
    game != null &&
    !countDown
  "
>
  <p class="text-lg font-medium font-mono text-gray-400 text-center my-8">
    A partida foi iniciada
  </p>

  <div class="mt-16 flex flex-col gap-4" *ngIf="userGamePlayer?.impostor">
    <img
      src="/assets/whoiswho-logo.svg"
      alt="WhoIsWho Logo"
      class="size-16 text-center w-full"
    />
    <p class="text-center text-xl font-semibold font-mono text-red-600">
      Você é um impostor
    </p>
  </div>

  <div
    class="mt-8 flex flex-col gap-2"
    *ngIf="!userGamePlayer?.impostor && userGamePlayer?.playerRole != null"
  >
    <div
      class="text-base flex flex-row bg-gray-900 p-3 rounded-lg justify-between"
    >
      <span class="text-gray-500 font-medium">Local:</span>
      <p class="text-blue-600">{{ game.gameEnvironment.name }}</p>
    </div>

    <div
      class="text-base flex flex-row bg-gray-900 p-3 rounded-lg justify-between"
    >
      <span class="text-gray-500 font-medium">Papel:</span>
      <p class="text-blue-600">{{ userGamePlayer?.playerRole?.name }}</p>
    </div>
  </div>
</div>

<div class="h-4"></div>
